@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

/* สีหลัก 196, 138, 14 */
* {
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}

/* navbar */
.scroll-class {
    transition: 0.6s;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo.scroll_ {
    height: 120px;
}

.logo {
    height: 150px;
    transition: 0.5s;
}

.text-header>li>a:hover {
    background: rgb(186, 138, 14);
    color: white;
    border-radius: 10px;
}

.text-header>a {
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

/* response breakpoint */
/* 
    xs: 0;
    sm: 576px;
    md: 768px;
    lg: 992px;
    xl: 1200px;
    xxl: 1400px;
*/
@media (min-width: 768px) {
    .text-header>li>a {
        font-size: 0.8rem;
        border-radius: 5px;
        margin-left: 4px;
    }

    .position-login {
        margin-top: 9px;
    }

    .text-header>a {
        font-size: 13px;
    }

    /* Section detail */
    /* .bg-head>h1 {
        top: 20%;
        font-size: 55px;
    }

    .bg-head>h3 {
        top: 30%;
        font-size: 60px;
    } */
}


@media (min-width: 992px) {
    .text-header>li>a {
        font-size: 1.1rem;
        border-radius: 5px;
        margin-left: 10px;
    }

    .position-login {
        margin-top: 9px;
    }

    .text-header>a {
        font-size: 16px;
    }

    /* Section detail */
    .bg-head>h1 {
        top: 20%;
        font-size: 50px;
    }

    .bg-head>h3 {
        top: 30%;
        font-size: 30px;
    }

    .detail-box {
        width: 100%;
    }

    .content-bg {
        top: 50%;
    }


    .select-style>select {
        width: 100px;
    }
}

@media (min-width: 1200px) {
    .text-header>li>a {
        font-size: 1.3rem;
        border-radius: 5px;
        margin-left: 12px;
    }

    .position-login {
        margin-right: 40px;
        margin-top: 8px;
    }

    .text-header>a {
        font-size: 20px;
    }

    /* Section detail */
    .bg-head>h1 {
        top: 25%;
        font-size: 60px;
    }

    .bg-head>h3 {
        top: 35%;
        font-size: 30px;
    }

    .bg-head>img {
        width: 100%;
    }

    .detail-box {
        width: 100%;
    }

    .content-bg {
        top: 45%;
    }


    .select-style>select {
        width: 160px;
    }
}

@media (min-width: 1400px) {
    .text-header>li>a {
        font-size: 1.4rem;
        border-radius: 5px;
        margin-left: 15px;
    }

    .position-login {
        margin-right: 110px;
        margin-top: 8px;
    }

    .text-header>a {
        font-size: 20px;
    }

    /* Section detail */
    .bg-head>h1 {
        top: 30%;
        font-size: 65px;
    }

    .bg-head>h3 {
        top: 40%;
        font-size: 30px;
    }

    .bg-head>img {
        width: 100%;
    }

    .detail-box {
        width: 100%;
    }

    .content-bg {
        top: 60%;
    }

    .select-style>select {
        width: 170px;
    }
}

/* Section detail */

.bg-head {
    position: relative;
}

.bg-head>h1 {
    color: #991c20;
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.bg-head>h3 {
    color: #991c20;
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.content-bg {
    position: absolute;
    width: 100%;
}

.detail-box {
    background: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.hr-detail {
    width: 100%;
    border-bottom: 3px solid #c48a0e;
    margin: 16px 0px 32px;
}

/* จองตั๋วรถไฟ */
.detail-box>div>h2 {
    padding-top: 24px;
    padding-left: 36px;
    padding-right: 36px;
}

.select-style>select {
    font-size: 20px;
    height: 50px;
    border: 2px solid #c48a0e;
    border-radius: 9px;
    padding: 10px;
    margin: 0;
    color: #c48a0e;
}

.bt-con>button {
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0px;
    font-size: 20px;
    border: 2px solid #c48a0e;
    border-radius: 9px;
    color: white;
    background: #c48a0e;
}

/* ToggelButton */
.bt-con>button {
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0px;
    font-size: 20px;
    border: 2px solid #c48a0e;
    border-radius: 9px;
    color: white;
    background: #c48a0e;
}

.switch {
    width: 50px;
    height: 25px;
    position: relative;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 4px;
    bottom: 3px;
    background: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



/*Section recommend*/
.bg-recommend {
    background-image: url(/assets/image/bg2.png);
    width: 100%;
}

.text-sell {
    font-size: 35px;
    font-weight: bold;
}

.bg-recommend>div>div>h2 {
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
}

/* Section Register & Login */
.text-form>div>input {
    font-size: 20px;
}

.btn-rgt {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background: #c48a0e;
    color: white;
    border-radius: 5px;
}

.btn-rgt:hover {
    background: #f1f1f1;
    color: black;
    border: #c48a0e 2.5px solid;
    border-radius: 5px;
}

.footer-login>a {
    font-size: 20px;
    text-decoration: none;
    color: #c48a0e;
}

.footer-login {
    font-size: 20px;
}

.step-booking {
    padding: 5% 0;
    background: white;
    height: 400px;
    display: flex;
    align-items: end;
    text-align: center;
}

.show-route {
    padding: 5% 0;
    background: #f1f1f1;
    height: 350px;
}

.text-route>h5 {
    font-size: 1.8rem;
}

.text-route>p>span {
    font-size: 20px;
    color: #c48a0e;
}

.text-route>h5>span {
    font-size: 1.8rem;
    color: #c48a0e;
}

.content-route-show {
    background-color: white;
    padding: 2rem 2rem;
    height: 100px;
    margin: 2rem auto 0;
    border: 1px solid #ffff;
    border-radius: 5px;
}

.content-route-show>div>h5>span>a {
    background: rgb(186, 138, 14);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 15px;
    margin-left: 15px;
    font-size: 20px;
}

.content-route-show>div>h5>span>a:hover {
    background: #f1f1f1;
    color: black;
    border: #c48a0e 2px solid;
}

.con-order {
    padding: 5% 0;
    margin-top: 70px;
}

.content-order {
    height: 100%;
    width: 90vh;
    background: white;
    padding: 3% 0;
    margin: 2% 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.content-order>div>hr {
    width: 70vh;
    margin: auto;
}

.content-order>div>h3 {
    margin: 2.5% 0;
}

.confirm>button {
    background: rgb(186, 138, 14);
    color: white;
    border: #ccc solid 1px;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 35px;
    margin-left: 15px;
    font-size: 1.5rem;

}

.confirm>button:hover {
    background: #f1f1f1;
    color: black;
    border: #c48a0e 2px solid;
}

.text-order>h3>span {
    color: #c48a0e;
}

.text-order>h5>span {
    color: #c48a0e;
}

.cancel-btn>button {
    background: rgb(186, 138, 14);
    color: white;
    border: #ccc solid 1px;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 10px;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 1.1rem;
}

.cancel-btn>button:hover {
    background: #f1f1f1;
    color: black;
    border: #c48a0e 2px solid;
}